<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
li {
  flex: 0 0 30%;
  margin-bottom: 10px;
}
li a {
  text-decoration: none;
  display: block;
  text-align: center;
}
</style>

<ul>
  <li><a href='/add_remove_elements/'>Add/Remove Elements</a></li>
  <li><a href='/broken_images'>Broken Images</a></li>
  <li><a href='/drag_and_drop'>Drag and Drop</a></li>
  <li><a href='/dynamic_controls'>Dynamic Controls</a></li>
  <li><a href='/download'>File Download</a></li>
  <li><a href='/upload'>File Upload</a></li>
  <li><a href='/forgot_password'>Forgot Password</a></li>
  <li><a href='/login'>Form Authentication</a></li>
  <li><a href='/infinite_scroll'>Infinite Scroll</a></li>
  <li><a href='/geolocation'>Geolocation</a></li>
  <li><a href='/horizontal_slider'>Horizontal Slider</a></li>
  <li><a href='/hovers'>Hovers</a></li>
  <li><a href='/javascript_alerts'>JavaScript Alerts</a></li>
  <li><a href='/windows'>Multiple Windows</a></li>
</ul>
